n8n-workflow.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "c8de448c-a0aa-4148-8238-bdaedcdb42d7",
                "responseMode": "lastNode",
                "options": {
                    "binaryPropertyName": "data"
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                96,
                64
            ],
            "id": "ed6c9def-61f3-46a0-bb13-bc749f1f875f",
            "name": "Webhook",
            "webhookId": "c8de448c-a0aa-4148-8238-bdaedcdb42d7"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.query }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                608,
                64
            ],
            "id": "3c032e0e-e5a5-4590-8789-61f8fc13b1dd",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.body.complexity }}",
                                        "rightValue": "Low",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "6482198c-1ad1-4097-b0e7-236916f92370"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Low"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "3cf43222-5a77-464a-bfa7-bcc7a82c80d7",
                                        "leftValue": "={{ $json.body.complexity }}",
                                        "rightValue": "Mid",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "Mid"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "76f3ad10-5465-4231-b045-8a5af483a723",
                                        "leftValue": "={{ $json.body.complexity }}",
                                        "rightValue": "High",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "High"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [
                304,
                48
            ],
            "id": "1b9a4866-6131-4667-8e5e-4fa2f217ad76",
            "name": "Switch"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                608,
                256
            ],
            "id": "443453b7-3974-46a4-b1d2-5f5c57846288",
            "name": "Google Gemini Chat Model",
            "credentials": {}
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.query }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                608,
                -304
            ],
            "id": "be3fb35c-324f-412b-bc93-3df7b1059413",
            "name": "AI Agent1"
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.5-flash-lite-preview-09-2025",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                608,
                -144
            ],
            "id": "e9121db0-4ea5-497b-ab00-133365d69c34",
            "name": "Google Gemini Chat Model1",
            "credentials": {}
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.body.query }}",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                592,
                432
            ],
            "id": "b9c3af02-f951-4ce2-a92c-a2b25bf378dd",
            "name": "AI Agent2"
        },
        {
            "parameters": {
                "modelName": "models/gemini-3-pro-preview",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                592,
                624
            ],
            "id": "0c914bae-9005-4b05-8d19-7ee91301181b",
            "name": "Google Gemini Chat Model2",
            "credentials": {}
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Switch').item.json.body.sessionId }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                704,
                -144
            ],
            "id": "dc38e463-a040-46cb-9f96-10b0e1ad0a3e",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Switch').item.json.body.sessionId }}",
                "contextWindowLength": 7
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                704,
                256
            ],
            "id": "9794ede0-41d5-4980-9b3a-4f01ba1f8f3e",
            "name": "Simple Memory1"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Switch').item.json.body.sessionId }}",
                "contextWindowLength": 10
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                688,
                624
            ],
            "id": "cbf56f3d-0638-42ea-8ee6-5fab7351ac01",
            "name": "Simple Memory2"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "AI Agent2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model2": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent2",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent1",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory1": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory2": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent2",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "9c6415782839cafeb9e15dfd3cd0e6b87e7c0c8ebd1fac53aa3cfe3beb71bcaf"
    }
}